.gradient-background {
  background: linear-gradient(100deg, #FFEBB2, #E59BE9, #D862BC);
  background-size: 100% 8%;
  animation: gradient-animation 1s ease infinite; 
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  color: #FFFFFF;
  text-align: left;
  font-size: 15rem;
  margin-bottom: 0%;
  margin-left: 5rem;
}

h2 {
  color: #69005A;
  text-align: left;
  margin-left: 5.8rem;
  padding-top: 0%;
  font-family: "Raleway", sans-serif;
  padding-bottom: 10rem;
}

.profile {
  color: #D862BC;

}


.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}




